body {
    background-color: grey;
    color: grey;
    height: 100%;
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 10px 150px 100px 150px;
    text-align: center;
}

.the-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background-color: lightcyan;
}

.the-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background-color: lightcyan;
    margin-top: 10px;
}

.mid-row {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    flex: 2;
    display: flex;
    justify-content: space-between;
    background-color: grey;
}

.the-article {
    background-color: grey;
    color: lightcyan;
    display: flex;
    flex-direction: column;
    margin: 35px 15px 0px 15px;
}

.the-headers,
.the-p {
    background-color: lightcyan;
    color: grey;
    flex: 1;
    margin-left: 15px;
    margin-right: 15px;
    padding: 2px;
}

.the-headers {
    margin-top: 30px;
}

.the-section,
.the-aside {
    background-color: lightcyan;
    color: grey;
    width: 100%;
}

.the-aside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.the-section + .the-aside {
    margin-left: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    background-color: lightcyan;
}
